@font-face {
    font-family: 'Juana';
    src: url('headers/Juana-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Juana';
    src: url('headers/Juana-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Juana';
    src: url('headers/Juana-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Juana';
    src: url('headers/Juana-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Juana';
    src: url('headers/Juana-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('body/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('body/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('body/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('body/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'Fira Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, 
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6,
.font-heading, .heading-sm-1, .post-title {
    font-family: 'Juana', serif !important;
}

/* Some specific Nest classes */
.main-menu nav ul li a,
.lable,
.categories-button-active,
.btn {
    font-family: 'Fira Sans', sans-serif !important;
}
